/* .product-number {
  border-top-left-radius: 15%;
}
.product-total {
} */
.product-num {
  padding: 0;
  color: grey;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.cart {
  margin: 20px;
  border: 2px solid grey;
  height: 300px;
  overflow-y: scroll;
}
.total-cart {
  background-color: blue;
  color: white;
}
td,
th {
  text-align: center;
  padding: 8px;
}
th {
  background-color: blue;
  color: white;
}
